@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,700&subset=latin,latin-ext);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;

  margin: 75px 100px;
  width: 800px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 28px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
}

strong {
  font-weight: 600;
}

small {
  font-size: 15px;
}

a {
  color: rgb(0, 0, 150);
}

dt {
  font-weight: 600;
  float: left;
}

dd {
  margin-left: 110px;
  margin-bottom: 5px;
}

p, ul {
  margin-top: 14px;
}

li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 30px;
  margin-bottom: 8px;
}
