<!doctype HTML>

<html>
<head>
  <meta charset=utf-8>

  <meta name="author" content="Juda Kaleta <juda.kaleta@gmail.com>">
  <meta content="index, follow" name="robots">

  <link href="reset.css" rel="stylesheet" type="text/css">
  <link href="default.css" rel="stylesheet" type="text/css">

  <title>Juda Kaleta - CV</title>
</head>

<body>
<h1>{{ name }}</h1>

<dl>
  <dt>E-mail:</dt>
  <dd><a href="mailto:{{ mail }}">{{ mail }}</a></dd>

  <dt>Telefon:</dt>
  <dd><a href="tel:{{ phone|replace(" ", "") }}">{{ phone }}</a></dd>

  <dt>Narození:</dt>
  <dd>{{ birth }}</dd>
  
  <dt>Adresa:</dt>
  <dd>{{ address }}</dd>

  <dt>Jazyky:</dt>
  <dd>{{ languages|join(', ') }}</dd>
</dl>

<h2>Vzdělání</h2>
<ul>
  {% for school in education %}
    <li>
      <strong>{{ school.name }}</strong> ({{ school.start }} — {{ school.end }})<br>
      {{ school.description }}
    </li>
  {% endfor %}
</ul>

<h2>Praxe</h2>
<ul>
  {% for item in praxe %}
    <li>
      <strong>{{ item.title }}</strong> ({{ item.start }}{% if item.end %} — {{ item.end }}{% endif %})<br>
      {{ item.description }}
    </li>
  {% endfor %}
</ul>


<h2>Pracovní zkušenosti</h2>
{% for job in jobs %}
  <h3><a href="{{ job.web }}">{{ job.name }}</a></h3>
  <p>
    {{ job.position }} ({{ job.start }} — {{ job.end }})<br>
    {{ job.description }}
  </p>
{% endfor %}


<h3>Soutěže a ocenění</h3>
<ul>
  {% for competition in competitions %}
    <li>
      <strong>
        {% if competition.web %}<a href="{{ competition.web }}">{% endif %}
        {{ competition.name }}{% if competition.web %}</a>{% endif %}
      </strong>
      ({{ competition.year }})<br>
      <small>{{ competition.description }}</small>
    </li>
  {% endfor %}
</ul>

</body>
</html>

